 section {
 	display: grid;
 	grid-gap: 0.2em;
 	grid-template-columns: repeat(6, [name]);
 	/* instead of "1fr" I write name*/
 	grid-template-rows: repeat(2, [name2] auto);
 	background: #bdc3c7;
 	height: 40em;
 }

 /*
SPAN: item will span accross provided nummber of tracks
(shorthand for grid-colum-start / grid-column-end)
*/

 .a {
 	grid-column: name / span 2;
 	/*START: "name" and its END will be: span 2 (accros 2 tracks)*/
 	grid-row: name2;
 	/*first row*/
 }

 .b {
 	grid-column: name 3 / span 3;
 	/*START: "name" 3 (span 3 to span accross 3 tracks (should be 2))*/
 	grid-row: name2;
 	/* also first row*/
 	background: lime;
 }

 .c {
 	grid-column: name / span 2;
 	grid-row: name2 2;
 	/* second row */
 	background: orange;
 }

 .d {
 	grid-column: name 3 / span 2;
 	grid-row: name2 2;
 	/* also the second row */
 	background: cornflowerblue;
 }

 /*------------------------nested grid------------------------*/

 .d {
 	display: grid;
 	grid-gap: 1em;
 	grid-column: name 3 / span 2;
 	grid-row: name2 2;
 	grid-template-columns: 1fr 1fr;
 }

 .e {
 	/*START: 1, END: 3 (span through 2 columns)*/
 	grid-column: 1 / 3;
 	grid-row: 1;
 }

 .f {
 	grid-column: 1;
 	grid-row: 2;
 }

 .g {
 	grid-column: 2;
 	grid-row: 2;
 }

 /*--------------------------------APPEARANCE STYLES--------------------------------*/

 * {
 	font-family: Arial, sans-serif;
 	margin: 0;
 	padding: 0;
 }

 div {
 	background: #1abc9c;
 	padding: 1.2em;
 	font-size: 1.5em;
 	color: white;
 }

 .d > * {
 	background: white;
 	color: black;
 }












section {
display: grid;
width: 30em;
height: 20em;
background: #bdc3c7;
grid-template-columns: repeat(3, 1fr); /*without this, the grid would shrink*/
}

section > div {
background-color: #3498db;
width: 3em;
height: 3em;

}
    
div:nth-child(2){
align-self: center; 
}
